.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
}

html {
  background-color: black;
  color: white;
}
body {
  margin: auto;
}
/* 
h1 {
  font-size: 2.8rem;
  margin: 6% 0 3% 0;
}
h2 {
  font-size: 2.2rem;
  margin: 1% 0;
}
h4 {
  font-size: 0.8rem;
  margin: 1% 0;
}
.container {
  width: 100%;
  margin: 2.5% 0;
}
.container img {
  width: 100%;
}
.textContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainPara {
  width: 80%;
}
.copyright {
  margin-top: 5%;
  font-size: 0.7rem;
  float: bottom;
} */
